<div class="container-fluid">
  <%=form_with(model: @task,local: true) do |f| %>
  <div class="row">
    <%= f.label :name, class:"col-xs-offset-1 col-xs-2" %>
    <%= f.text_field :name, class:"col-xs-8" %>  
  </div>
  <div class="row">
    <%= f.label :content, class:"col-xs-offset-1 col-xs-2" %>
    <%= f.text_area :content, class:"col-xs-8" %>
  </div>
  <div class="row">
    <%= f.label :status, class:"col-xs-offset-1 col-xs-2" %>
    <%= f.select :status,[["未着手",0],["着手",1],["完成",2]] %>
  </div>
  <div class="row">
    <%= f.label :prioriry, class:"col-xs-offset-1 col-xs-2" %>
    <%= f.select :prioriry, Task.prioriries.keys, {} %>
  </div>
  <div class="row">
    <%= f.label :expired_at, class:"col-xs-offset-1 col-xs-2" %>
    <%= f.datetime_select :expired_at, class:"col-xs-8" %>
  </div>
  <div class="row submit_row">
    <%= f.submit "登録",class:"col-xs-offset-1 btn btn-default"  %>
    <button class="btn btn-default"><%= link_to '一覧へ',tasks_path  %></button>
  </div>
  <% end %>
</div>
