<div class="container-fluid">
  <h1 class="top_heading"> Task 一覧 </h1>
  <div class="row">
    <button class="btn btn-default"><%= link_to '期限でソート', tasks_path(sort_expired: true) %></button>
  </div>
  <div class="row">
    <%= form_with(model: Task.new, local: true, url: tasks_path, method: :get) do |f| %>  
    <%= f.label :name_search, "タイトル検索" %>
    <%= f.text_field :name, value: @name %>
    <%= f.label :status_search, "状態検索" %>
    <%= f.select :status,[["未選択",4],["未着手",0],["着手",1],["完成",2]], selected: @status %>
    <%= f.hidden_field :search, value: true %>
    <%= f.submit "Search!" %>  
  </div>
  <% end %>
  <table class="table">
    <div>
      <tr>
        <th>タスク名</th>
        <th>内容</th>
        <th>期限</th>
        <th>状態</th>
        <th>詳細</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </div>
    <% @tasks.each do |task| %>
    <div>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.content %></td>
          <% if task.expired_at %>
            <td><%= task.expired_at.strftime("%m/%d %H:%M") %></td>
          <% else %>
            <td><%= task.expired_at %></td>
          <% end %>
          <td><%= @status_set[task.status] %></td>
          <td><%= link_to '詳細', task_path(task.id),class:"btn btn-default" %></td>
          <td><%= link_to '編集', edit_task_path(task.id),class:"btn btn-default" %></td>
          <td><%= link_to '削除', task_path(task.id),method: :delete,class:"btn btn-default" %></td>
        </tr>
    </div>
    <% end %>
  </table>
  <div class="submit_row">
    <button class="btn btn-default"><%= link_to '新しいタスク', new_task_path %></button>
  </div>
</div>






