<div class="container-fluid">
  <h1 class="top_heading">ユーザー詳細</h1>
  <div class="table">
    <div class="row">
      <label class="col-xs-offset-1 col-xs-2">名前 :</label>
      <p class="col-xs-8 show_content"><%= @user.name %></label>
    </div>
    <div class="row">
      <label class="col-xs-offset-1 col-xs-2">Emailアドレス :</label>
      <p class="col-xs-8 show_content"><%= @user.email %></p>
    </div>
    <div class="row submit_row">
      <%= link_to 'ユーザー一覧', admin_users_path,class: "btn btn-default" %>
    </div>
    <div>
      <table class="table">
        <tr>
          <th>タスク名</th>
          <th>内容</th>
          <th>期限</th>
          <th>状態</th>
          <th>優先度</th>
        </tr>
        <% @user.tasks.each do |task| %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.content %></td>
            <td><%= task.expired_at %></td>
            <td><%= task.status %></td>
            <td><%= task.priority %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
