<!DOCTYPE html>
<html>
  <head>
    <title>TaskEveryLeaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
          <% if notice != nil %>
        <div class="container-fulid clearfix">
          <div class=" col-xs-offset-1 col-xs-10 notice alert alert-info">
            <%= notice %>
          </div>    
        </div>
      <%  end %>
      <% if @task && @task.errors.any? %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <%= @task.errors.full_messages.length %>件のエラー
          </div>
          <% @task.errors.full_messages.each do |err| %>
          <div>
            <%= err %>        
          </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
