<!DOCTYPE html>
<html>
  <head>
    <title>TaskEveryLeaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <% if logged_in? %>
          <%= link_to 'Profile', user_path(current_user.id),class: "btn btn-default" %>
          <%= link_to 'Log out', session_path(current_user.id), method: :delete,class: "btn btn-default" %>
        <% else %>
          <%= link_to 'Sign up', new_user_path %>
          <%= link_to 'Log in', new_session_path %>
        <% end %>
      </header>
      <!-- リダイレクトに応じたnoticeの表示 -->
      <% if notice != nil %>
        <div class="container-fulid clearfix">
          <div class=" col-xs-offset-1 col-xs-10 notice alert alert-info">
            <%= notice %>
          </div>    
        </div>
      <%  end %>
      <!-- タスク登録失敗時のエラー表示 -->
      <% if @task && @task.errors.any? %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <%= @task.errors.full_messages.length %>件のエラー
          </div>
          <% @task.errors.full_messages.each do |err| %>
          <div>
            <%= err %>        
          </div>
          <% end %>
        </div>
      <% end %>
      <!-- ユーザー登録失敗時のエラー表示 -->
      <% if @user && @user.errors.any? %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <%= @user.errors.full_messages.length %>件のエラー
          </div>
          <% @user.errors.full_messages.each do |err| %>
          <div>
            <%= err %>        
          </div>
          <% end %>
        </div>
      <% end %>
      <!-- 各ビューの表示 -->
      <%= yield %>
    </div>
  </body>
</html>
